{% extends 'layout.html' %}
{% block body %}
    <div class="page-header">
        <h1>About ChatSchoolette</h1>
    </div>

    <p style="font-size:14pt; font-family:Comic Sans MS;">
    	&nbsp;&nbsp;&nbsp;&nbsp;Meeting new people isn't always to easy, especially
    	when you're on a college campus of thousands of people!
    	Chatschoolette is here to make this just a little bit easier
    	for you! Chatschoolette will randomly assign you to a text or 
    	video chat partner exclusively from your College Campus.  
    	If the conversation goes well, you are also able to friend
    	the other user and then message them later. Registration with
    	an academic email is required so you know you won't be paired with those weirdos(ya know, like "The other guys" ;) ).
    	Now get out there and go meet some new friends!
    	Happy chatting!
    </p>

    <center>
	    <img src="{{ url_for('static', filename='default.png') }}" style="width:175px;">
	</center>

{% endblock %}
