{% from "partials/_formhelper.html" import render_field %}

{% extends 'layout.html' %}
{% block body %}
    <div class="page-header">
        <h1>Edit your account</h1>
    </div>

    <form method="POST" action="/account/edit/" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.password) }}
            {{ render_field(form.confirm_password) }}
            {{ render_field(form.gender) }}
            {{ render_field(form.profile_picture) }}
            {% if current_user.profile.has_profile_picture %}
            <img
                src="{{ url_for('static', filename=('profile_pictures/' + current_user.username)) }}"
                style="max-width: 300px; height: auto;"
            >
            {% else %}
            <img src="{{ url_for('static', filename='profile_pictures/default') }}" style="max-width: 300px; height: auto;">
            {% endif %}
            {{ render_field(form.profile_description) }}
            {{ render_field(form.interests_text) }}
        </dl>
        <p><input type="submit" value="Update Account"></p>
    </form>

{% endblock %}
