{% extends 'layout.html' %}
{% block body %}
    <div class="page-header">
        <h1>
            {{ current_user.username }}'s account
            <a href="/account/edit/" class="pull-right btn btn-info">Edit Account</a>
            <a href="/account/friends/" class="pull-right btn btn-info">Friends</a>
        </h1>
    </div>
    <br>
    {% if current_user.profile.has_profile_picture %}
    <img
        src="{{ url_for('static', filename=('profile_pictures/' + current_user.username)) }}"
        style="max-width: 300px; height: auto;"
    >
    {% else %}
    <img src="{{ url_for('static', filename='profile_pictures/default') }}" style="max-width: 300px; height: auto;">
    {% endif %}

    <h2>About {{ current_user.username }}</h2>
    <p>
    {% if current_user.profile.body != '' %}
    {{ current_user.profile.body }}
    {% else %}
    {{ current_user.username }} is too cool to fill out this section.
    {% endif %}
    </p>

    <h2>Interests</h2>
    <ul>
    {% for interest in current_user.profile.interests|sort %}
    <li>{{ interest.name }}</li>
    {% endfor %}
    </ul>

{% endblock %}
