{% from "partials/_formhelper.html" import render_field %}

{% extends 'layout.html' %}
{% block body %}
    <div class="page-header">
        <h1>Search for users</h1>
    </div>

    <form method="POST" action="/account/search/">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.gender) }}
            {{ render_field(form.interests_text) }}
        </dl>
        <p><input type="submit" value="Search"></p>
        </dl>
    </form>

{% endblock %}
