{% extends 'layout.html' %}
{% block body %}
    <div class="page-header">
        <h1>Video Chat</h1>
    </div>

    <div id="vid-box"></div>

    <script src="https://cdn.pubnub.com/pubnub-3.7.14.min.js"></script>
    <script src="https://cdn.pubnub.com/webrtc/webrtc.js"></script>
    <script>
        var phone = window.phone = PHONE({
            number: "{{ current_user.username }}",
            publish_key: "{{ publish_key }}",
            subscribe_key: "{{ subscribe_key }}",
        });
        phone.receive(function(session){
            session.connected(function(session) { video_out.appendChild(session.video); });
            session.ended(function(session) { video_out.innerHTML=''; });
        });

        function makeCall() {
            if (!window.phone) alert("No phone variable");
            else phone.dial("{{ id_to_call }}");
        }
    </script>

{% endblock %}
