/*changes color of background to light red*/
body {
  background: #f7f7f7;
}

/* remove bullets from ul */
ul {
	list-style-type: none;
}

/* little neater space in descript list */
dt {
	padding-top: 5px;
	padding-right: 5px;
}

.logout_btn {
	margin-top: 8px;
	margin-right: -25px;
}

/*makes button width a min*/
input[type="submit"] {
    min-width: 75px;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea
{
	float: right;
	margin-right: 10%;
	border: solid 2px black;
    border-radius: 5px;
}

/*changes hover of buttons*/
input[type="checkbox"]:hover, 
input[type="radio"]:hover, 
input[type="file"]:hover
{
	cursor:pointer;
}

/*changes space around border*/
.page-header {
	margin: 0 auto;
}

/*changes color of top nav bar*/
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
	color: #aaa;
}

/*changes color of backgground*/
body {
	background: #C59090;
}

/*fixes menu spacing when minimizing browser or use in phone*/
@media(max-width: 768px){
	.navbar-default .navbar-nav>li>a {
		text-align: left;
	}
}

/*fixes all labels*/
label { 
	float:left; 
	padding-right: 10px;
}

/*excludes radiobuttons for floats*/
label[for*=gender] { 
	float: none; 
}

/*changes margins on all rows*/
.row {
	margin-left: 5%;
	padding: 3px 0px 3px 0px;
}

/*changes colors of errors*/
.errors {
	color: #9f6000;
}

/*fix alignment of submit*/
input[type=submit]:not(.logout_btn){
	float: right;
    margin-right: 11%;
}

/*modifies container color*/
.container:not(.none_con_style){
	border: solid 2px #3A3434;
    background: #B19F9F;
    border-radius: 5px;
    margin-bottom: 20px;
	margin-top: 10px;
    padding-bottom: 10px;
	min-height: 650px;
	min-width: 600px;
	width: 90%;
}

/*gives image slight difference in appearance*/
img {
    border: solid 1px black;
    border-radius: 30px;
}

/*changes initial button colors, submit inputs and button tags*/
.btn {
	color: #fff;
    background-color: #D20303;
    border-color: black;
	border: solid 2px black;
}

/*changes button color on hover*/
.btn:hover, .btn:focus {
	color: #fff;
    border-color: black;
	background-color: #B91414;
	border: solid 2px;
}

/*changes warning border*/
.alert-warning {
	border-color: black;
}

.navbar-nav>li>a.btn {
	padding-top: 5px;
    padding-bottom: 0px;
    height: 35px;
    margin-top: 7px;
}

.navbar-nav>li>a.btn:hover {
	color: #fff;
    border-color: black;
	background-color: #B91414;
	border: solid 2px;
}

.login a {
    float: right;
    margin-right: 8%;
}


