{% from "partials/_formhelper.html" import render_field %}

{% extends 'layout.html' %}
{% block body %}
    <div class="page-header">
        <h1>Login</h1>
    </div>

    <form method="POST" action="/auth/login/">
        {{ form.hidden_tag() }}
        <dl>
	<div class='row login'>
            {{ render_field(form.username_or_email) }}
	</div>
	<div class='row login'>
            {{ render_field(form.password) }}
	</div>
	<div class='row login'>
            {{ render_field(form.remember) }}
	</div>
        </dl>
	<div class='row login'>
	    <p>
			<input class="btn btn-primary" type="submit" value="Login"/>
		</p>
	</div>
    </form>
    <div class='row login'>
		<p>
			<a  href="{{ url_for('auth.forgot') }}">
				I forgot my password D:
			</a>
		</p>
	</div>
{% endblock %}
