{% from "partials/_formhelper.html" import render_field %}

{% extends 'layout.html' %}
{% block body %}
    <div class="page-header">
        <h1>Register</h1>
    </div>

    <form method="POST" action="/auth/register/" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <dl>
	<div class='row register'>
            {{ render_field(form.username) }}
	</div>
	<div class='row register'>
            {{ render_field(form.email) }}
	</div>
	<div class='row register'>
            {{ render_field(form.confirm_email) }}
	</div>
	<div class='row register'>
            {{ render_field(form.password) }}
	</div>
	<div class='row register'>
            {{ render_field(form.confirm_password) }}
	</div>
	<div class='row register'>
            {{ render_field(form.gender) }}
	</div>
	<div class='row register'>
            {{ render_field(form.birthdate) }}
	</div>
	<div class='row register'>
            {{ render_field(form.profile_description) }}
	</div>
	<div class='row register'>
            {{ render_field(form.interests_text) }}
	</div>
	<div class='row register'>
            {{ render_field(form.profile_picture) }}
	</div>
	<div class='row register'>
            {{ render_field(form.remember) }}
	</div>
	<div class='row register'>
            {{ render_field(form.recaptcha) }}
	</div>
        </dl>
	<div class='row'>
        <p>
			<input class='btn btn-default' type="submit" value="Register"/>
		</p>
	</div>
    </form>

{% endblock %}
